@using BootstrapModalTest.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Modal Forms</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="Fabro MVC 5 forms on Bootstrap 3 modals " />
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Modal Forms", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.MenuItem("Start", "Index", "Home")
                    @Html.MenuItem("Contact", "Contact", "Home")
                    @Html.MenuItem("People", "Index", "People")
                    
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="pull-left">&copy; @DateTime.Now.Year - <a href="http://www.fabro.pl" target="_blank">Fabro sp.j.</a></p>
            <p class="pull-right"><a id="scroll-to-top" style="display:none;" href="#" title="Przewiń na początek strony"><span class="glyphicon glyphicon-arrow-up"></span> </a></p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap",  "~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
